@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@if (SelectedArticle != null)
{
    <h4>
        @SelectedArticle.Title
    </h4>
    <h5>
        @SelectedArticle.Uri
    </h5>

    <ul>
        @foreach (var page in SelectedArticle.Pages)
        {
            <li>
                @switch (page.Type)
                {
                    case Abstractions.ArticleType.Text:
                        <p>
                            @(page.Content)
                        </p>
                        break;
                    case Abstractions.ArticleType.Image:
                        <img src="@(page.Content)"/>
                        break;
                    default:
                        break;
                }
            </li>
        }
    </ul>
}
else if (SelectedSource != null)
{
    <h4>
        @SelectedSource.Title
    </h4>
    <h5>
        @SelectedSource.Url
    </h5>
}
