@page "/"

@if (SelectedArticle != null)
{
    <h4>@SelectedArticle.Article.Title</h4>

    <aside>
        <small>@SelectedArticle.Article.Published</small>
    </aside>

    <ul>
        @foreach (var page in SelectedArticle.Article.Pages)
        {
            <li>
                @switch (page.Type)
                {
                    case Abstractions.ArticleType.Text:
                        <p>
                            @(page.Content)
                        </p>
                        break;
                    case Abstractions.ArticleType.Image:
                        <img src="@(page.Content)" />
                        break;
                    default:
                        break;
                }
            </li>
        }
    </ul>
}
else if (SelectedFeed != null)
{
    if (_articles != null)
    {
        <ul>
            @foreach (var article in _articles)
            {
                <li @onclick="() => HandleArticleSelectedAsync(article)"
                    @onclick:preventDefault
                    @onclick:stopPropagation>
                    @article.Article.Title
                </li>
            }
        </ul>
    }
}
else if (SelectedSource != null)
{
}
